In [1]:
x <- 10

if (x > 0) {
  print("Positive number")
} else if (x < 0) {
  print("Negative number")
} else {
  print("Zero")
}

[1] "Positive number"

In [2]:
for (i in 1:5) {
  print(paste("Iteration:", i))
}

[1] "Iteration: 1"
[1] "Iteration: 2"
[1] "Iteration: 3"
[1] "Iteration: 4"
[1] "Iteration: 5"

In [3]:
i <- 1
while (i <= 5) {
  print(paste("Iteration:", i))
  i <- i + 1
}

[1] "Iteration: 1"
[1] "Iteration: 2"
[1] "Iteration: 3"
[1] "Iteration: 4"
[1] "Iteration: 5"

In [4]:
numbers <- c(10, 20, 30, 40, 50)
print(numbers[3])  # Accessing the 3rd element

[1] 30

In [5]:
my_list <- list(name = "Alice", age = 25, scores = c(85, 90, 95))
print(my_list$name)  # Accessing an element

[1] "Alice"

In [6]:
df <- data.frame(
  Name = c("Alice", "Bob", "Charlie"),
  Age = c(25, 30, 35),
  Score = c(90, 85, 95)
)

print(df)
print(df$Name)  # Accessing a column

     Name Age Score
1   Alice  25    90
2     Bob  30    85
3 Charlie  35    95
[1] "Alice"   "Bob"     "Charlie"

In [7]:
# Function to calculate square of a number
square_function <- function(x) {
  return(x^2)
}

# Using the function
result <- square_function(4)
print(result)

[1] 16

In [8]:
# Function to classify numbers
classify_numbers <- function(numbers) {
  for (num in numbers) {
    if (num > 0) {
      print(paste(num, "is Positive"))
    } else if (num < 0) {
      print(paste(num, "is Negative"))
    } else {
      print(paste(num, "is Zero"))
    }
  }
}

# Example usage
num_vector <- c(-3, 0, 7, -2, 5)
classify_numbers(num_vector)

[1] "-3 is Negative"
[1] "0 is Zero"
[1] "7 is Positive"
[1] "-2 is Negative"
[1] "5 is Positive"